.leftsidebar{
    width: 200px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    transition: box shadow ease-in-out 0.1s,transform ease-in-out 0.1s;
    transform: translateZ(0);
    box-sizing: border-box;
    font-size: 13px;
}

.sidenav{
    height: auto;
    max-width: 100%;
    position: sticky;
    margin: 50px 0px;
    padding: 20px 10px;
}

.sidenavdiv{
    padding: 10px 0px;
}

.sidenavdiv div{
    padding-left: 10px;
}

.sidenavlinks{
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    transition: 0.2s;
    font-weight: 500;
    font-size: 15px;
    padding-top: 25px;
}

.sidenavlinks:hover{
    color: rgb(0, 0, 0);
}

.active{
    font-weight: bolder;
    color: black;
    background-color: rgb(225, 225, 225);
    border-right: solid 3px #005B41;
}